// dark-colors.scss

// Text colors
$dark-silver: #d2d2d2; // Silver for default text
$dark-silver-hover: #bdbdbd; // Hover state for default text
$dark-crimson: #d32222; // Crimson for error text
$dark-cerulean: #4c7eff; // Cerulean for link text
$dark-cerulean-900: #2c5d87;
$dark-magenta: #ff00ff; // Magenta for visited link text
$dark-amber: #f4bc02; // Amber for warning text

// App toolbar colors
$dark-licorice: #191919; // Licorice for app background
$dark-granite: #383838; // Granite for app buttons
$dark-granite-hover: #505050;
$dark-granite-800: #282828;
$dark-slate: #6a6a6a; // Slate for checked app items
$dark-graphite: #424242; // Graphite for app hover state
$dark-ebony: #222222; // Ebony for app accent
