// light-colors.scss

// Text colors
$light-slate: #090909; // Slate for default text
$light-slate-hover: #090909; // Hover state for default text
$light-crimson: #5a0000; // Crimson for error text
$light-cerulean: #4c7eff; // Cerulean for link text
$light-magenta: #aa00aa; // Magenta for visited link text
$light-amber: #333308; // Amber for warning text

// App toolbar colors
$light-aluminum: #8a8a8a; // Aluminum for app background
$light-platinum: #c8c8c8; // Platinum for app buttons
$light-iron: #656565; // Iron for checked app items
$light-silver: #bbbbbb; // Silver for app hover state
$light-steel: #6b6b6b; // Steel for app border
