@import '../../../../colors/colors.scss';

.hierarchyTab {
  padding: 0px 10px;
  top: 0;
  width: 100%;
  position: sticky;
  background-color: $dark-granite;
}

.container {
  display: flex;
  height: 100vh;

  .freePlace {
    width: 15%;
    height: 100%;
    background-color: $dark-granite-800;
  }

  .componentsContainer {
    width: 100%;
  }
}
