.tag {
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  cursor: pointer;
}

.subTags {
  border-left: 1px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
